/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*root-palette*/

:root {
	--color-bg-white: #ffffff;
	--color-bg-blue: #b4d0e7;
	--color-button-blue: #0061ff;
	--color-font-black: #000000;
	--color-square-grey: #f5f5f5;
	--color-square-green: #a2d39b;
	--color-square-velvet: #61082b;
	--color-square-light-blue: #0093ce;
	--color-square-red: #d5001f;
	--color-sqaure-dark-blue: #0d2481;
	--color-square-yellow: #ffd830;
}

/*icons

<i class="fa-solid fa-arrow-down"></i> --arrow-down
<i class="fa-solid fa-user"></i> --user
<i class="fa-solid fa-users"></i> --group
<i class="fa-solid fa-building"></i> --workplace
<i class="fa-solid fa-folder"></i> --folder
<i class="fa-solid fa-share-nodes"></i> --share-nodes
<i class="fa-solid fa-check"></i> --check
<i class="fa-solid fa-angle-down"></i> --angle-down
<i class="fa-solid fa-sort-up"></i> --short-up
<i class="fa-solid fa-earth-americas"></i> --world 

*/

/*flex*/

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}

/*position*/

.p-fixed {
    position: fixed;
    z-index: 4;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-hero {
    left: 0;
    right: 0;
    top: 90px;
}

.p-down-right {
    left: 0;
    bottom: 40px;
}

.p-total {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z-index-high {
    z-index: 3;
}

/*miscellaneous*/

.debug {
    border: 1px solid var(--color-font-black);
}

.d-inline-block {
    display: inline-block;
}

a {
   text-decoration: none;
   font-size: 1.1rem;
}

h1 {
    font-size: 5.5rem;
    color: var(--color-font-black);
    font-weight: 600;
}

h3, p {
    font-size: 1.1rem;
    color: var(--color-font-black);
}

p {
    line-height: 1.8;
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.bg-botton-blue {
    background-color: var(--color-button-blue);
    color: var(--color-bg-white) !important;
}

/*navbar*/

nav {
    width: 100%;
    padding: 20px 5px;
    background-color: var(--color-bg-white );
}

.nav-side {
    width: 50%;
}

.nav-a {
    color: var(--color-font-black);
    padding: 3px 30px;
}

div.nav-side>img {
    padding: 3px 15px 3px 15px;
}

.nav-button-layout {
    padding: 3px 15px 3px 0px;
}

div.nav-button-layout>a {
    padding: 8px 16px;
}

/*hero*/

.bg-hero {
    background-color: var(--color-bg-blue);
    width: 100%;
    height: 35vw;
}

div.container>h1 {
    padding-bottom: 50px;
}

.hero-text {
    width: 30%;
    padding: 0px 5px;
}

.hero-button-layout {
    padding: 50px 0px;
}

div.hero-button-layout>a {
    padding: 15px 30px;
}

a.hero-button-layout>i {
    color: var(--color-font-black);
    font-size: 4rem;
}

.hero-img {
    width: 70%;

}

div.hero-img>img {
    width: 100%;
}
