/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*root-palette*/

:root {
	--color-bg-white: #ffffff;
	--color-bg-blue: #b4d0e7;
	--color-button-blue: #0061ff;
	--color-font-black: #000000;
	--color-square-grey: #e3e3e3;
    --color-square-dark-grey: #c5c5c5;
	--color-square-green: #a2d39b;
	--color-square-velvet: #61082b;
	--color-square-light-blue: #0093ce;
	--color-square-light-red: #d5001f;
    --color-square-red: #d5001f;
	--color-sqaure-dark-blue: #0d2481;
	--color-square-yellow: #ffd830;
    --box-shadow: 3px 3px 10px rgba(86, 86, 86, 0.395);
}

/*icons

<i class="fa-solid fa-arrow-down"></i> --arrow-down
<i class="fa-solid fa-user"></i> --user
<i class="fa-solid fa-users"></i> --group
<i class="fa-solid fa-building"></i> --agency
<i class="fa-solid fa-folder"></i> --folder
<i class="fa-solid fa-share-nodes"></i> --share-nodes
<i class="fa-solid fa-check"></i> --check
<i class="fa-solid fa-angle-down"></i> --angle-down
<i class="fa-solid fa-angle-up"></i> --angle-up
<i class="fa-solid fa-sort-up"></i> --short-up
<i class="fa-solid fa-earth-americas"></i> --world 

*/

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-square-dark-grey);
}

/*flex*/

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-stretch {
    align-items: stretch;
}

.justify-flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-content: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}

.flex-box-centered {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/*position*/

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-index-high {
    z-index: 100;
}

.p-absolute {
    position: absolute;
}

.p-hero {
    left: 0;
    right: 0;
    top: 165px;
}

/*miscellaneous*/

a {
   text-decoration: none;
}

h1, h2, p, label {
    color: var(--color-font-black);
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 50px;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 50px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

h5 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

li {
    list-style: none;
}

i[class*=check] {
    color: var(--color-button-blue);
}

div[class*=button]:hover {
    box-shadow: var(--box-shadow);
}

img {
    width: 100%;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.debug {
    border: 2px solid var(--color-square-grey);
}

.container-type-A {
    max-width: 65%;
    margin: 0 auto;
}

.container-type-B {
    max-width: 55%;
    margin: 0 auto;
}

.line-hr {
    border-top: 2px solid var(--color-square-grey);
}

.btn-blue {
    background-color: var(--color-button-blue);
    color: var(--color-bg-white) !important;
}

.underlined-link {
    text-decoration: underline;
}

.underlined-link:hover {
    color: var(--color-button-blue);
}

.bg-box-green {
    background-color: var(--color-square-green);
}

.bg-box-velvet {
    background-color: var(--color-square-velvet);
}

.bg-box-azure {
    background-color: var(--color-square-light-blue);
}

.bg-box-light-red {
    background-color: var(--color-square-light-red);
}

.bg-box-red {
    background-color: var(--color-square-red);
}

.bg-box-blue {
    background-color: var(--color-square-light-blue);
}

.bg-box-dark-blue {
    background-color: var(--color-sqaure-dark-blue)
}

.bg-box-yellow {
    background-color: var(--color-square-yellow);
}

/*navbar*/

nav {
    width: 100%;
    padding: 0px 5px;
    background-color: var(--color-bg-white );
    box-shadow: var(--box-shadow);
}

.nav-a {
    color: var(--color-font-black);
    padding: 3px 30px;
}

.nav-logo-wrap {
    padding: 3px 15px 3px 15px;
}

.nav-box-wrap {
    padding: 20px 0;
    border-bottom: 3px solid transparent;
}

.nav-box-wrap:hover {
    border-bottom: 3px solid var(--color-square-dark-grey);
}

div.nav-button-wrap>a {
    padding: 8px 16px;
}

/*hero*/

.hero-bg {
    background-color: var(--color-bg-blue);
    width: 100%;
    height: 850px;
    margin-bottom: 200px;
}

.hero-text-wrap {
    width: 30%;
    padding: 0px 5px;
}

.hero-button {
    width: 60%;
    background-color: var(--color-button-blue);
    text-align: center;
    margin: 40px 0px;
    padding: 15px 25px;
}

a.d-inline-block>i[class*=arrow] {
    font-size: 3rem;
    margin: 40px 0px;
    color: var(--color-font-black);
}

.hero-img-wrap {
    width: 70%;
}

/*main*/

.section-layout {
    padding: 50px 0px;
}

.cta-layout {
    padding: 150px 0px;
}

/*plans*/

.radio-wrapper {
    padding: 40px 60px 0px 0px;
}

/*plan-card*/

.plan-card-wrapper {
    width: calc(100% / 3 - 45px);
}

.plan-card-wrapper:hover {
    box-shadow: var(--box-shadow);
}

.plan-card-header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--color-square-grey);
}

.plan-card-body {
   padding: 40px; 
}

div.plan-card-body>div.line-hr {
    width: 50px;
    margin: 40px 0px 60px;
}

.card-text-wrap {
    padding-bottom: 50px;
}

div.card-text-wrap>span{
    padding-bottom: 10px;
}

.card-list-icons {
    text-indent: -0.5em;
    margin: 15px;
}

.card-button-wrap {
    width: 100%;
    background-color: var(--color-button-blue);
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

/*bottom-card*/

.bottom-card-wrapper:hover {
    box-shadow: var(--box-shadow);
}

.bottom-card-text-wrap {
   width: 70%;
}

.bottom-card-text-wrap>h5 {
    padding-bottom: 40px;
}

.bottom-card-cta-wrap {
    width: 30%;
    padding-left: 80px;
}

/*parters*/

.contact-wrapper {
    padding: 100px 0px;
}

.contact-img-wrap {
    width: 60%;
}

.contact-text-wrap {
    width: 40%;
    padding: 50px 70px;
}

.contact-button-wrap {
    width: 50%;
    border: 2px solid var(--color-font-black);
    padding: 10px 5px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

.contact-button-wrap>a {
    color: var(--color-font-black);
}

/*business features*/

.feature-title {
    padding-bottom: 40px;
}

.feature-wrapper {
    width: calc(100% / 3 - 45px);
    padding: 30px 0px;
}

.feature-img-wrap {
    padding: 30px;
}

/*brand-boxes*/

.box-wrapper {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand-box {
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: 10px solid rgba(255, 255, 255, 0);
}

.brand-box:hover {
    border: 10px solid rgba(255, 255, 255, 0.348);
}

.brand-logo-wrap {
    margin: 0 auto;
    width: 60%;
}

.brand-logo-wrap>img {
    filter: invert(93%) sepia(100%) saturate(29%) hue-rotate(136deg) brightness(107%) contrast(110%);
}

.brand-box-text-wrapper {
    width: 100%;
    padding: 30px 50px;
    background-color: var(--color-square-grey);
}

.box-text-logo-wrap {
    width: 50%;
}

.brand-box-text-wrapper>div.line-hr {
    width: 100px;
    border-color: var(--color-square-dark-grey);
    padding: 20px;
}

.brand-box-text-wrapper>div>p {
    padding-bottom: 30px;
}

/*free-trial*/

.trial-bg {
    background-color: var(--color-bg-blue);
}

.trial-text-wrap {
    width: 70%;
}

.trial-text-wrap>h2 {
    color: var(--color-square-velvet);
}

.trial-cta-wrap {
    width: 30%;
    padding: 5px;
}

.trial-button-wrap {
    width: 100%;
    text-align: center;
    color: var(--color-font-black); 
    background-color: var(--color-bg-white);
    padding: 15px; 
}

/*faq*/

.faq-wrap {
    padding: 50px 0px;
}

.faq-wrap>i {
    padding-right: 40px;
}

i.fa-angle-down {
    display: none;
}

details[open]>summary>i.fa-angle-down {
    display: block;
}

details[open]>summary>i.fa-angle-up {
    display: none;
}

/*footer*/

footer {
    background-color: var(--color-font-black);
    color: var(--color-bg-white);
    padding: 120px 0px 50px;
}

.list-wrapper {
    width: calc(100% / 6 );
    padding-bottom: 120px;
}


.list-wrapper>ul>li {
    padding-bottom: 25px;
}

.language-selection-wrapper {
    width: 150px;
}

.language-selection-wrapper>div.line-hr {
    padding: 30px;
}
