/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*root-palette*/

:root {
	--color-bg-white: #ffffff;
	--color-bg-blue: #b4d0e7;
	--color-button-blue: #0061ff;
	--color-font-black: #000000;
	--color-square-grey: #e3e3e3;
	--color-square-green: #a2d39b;
	--color-square-velvet: #61082b;
	--color-square-light-blue: #0093ce;
	--color-square-red: #d5001f;
	--color-sqaure-dark-blue: #0d2481;
	--color-square-yellow: #ffd830;
}

/*icons

<i class="fa-solid fa-arrow-down"></i> --arrow-down
<i class="fa-solid fa-user"></i> --user
<i class="fa-solid fa-users"></i> --group
<i class="fa-solid fa-building"></i> --agency
<i class="fa-solid fa-folder"></i> --folder
<i class="fa-solid fa-share-nodes"></i> --share-nodes
<i class="fa-solid fa-check"></i> --check
<i class="fa-solid fa-angle-down"></i> --angle-down
<i class="fa-solid fa-angle-up"></i> --angle-up
<i class="fa-solid fa-sort-up"></i> --short-up
<i class="fa-solid fa-earth-americas"></i> --world 

*/

/*flex*/

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-stretch {
    align-items: stretch;
}

.justify-flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-content: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}

/*position*/

.p-fixed {
    position: fixed;
    z-index: 4;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-hero {
    left: 0;
    right: 0;
    top: 140px;
}

.p-down-right {
    left: 0;
    bottom: 40px;
}

.p-total {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z-index-high {
    z-index: 3;
}

/*miscellaneous*/

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

a {
   text-decoration: none;
}

h1, h2, p, label {
    color: var(--color-font-black);
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 50px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

li {
    list-style: none;
}

i[class*=check] {
    color: var(--color-button-blue);
}

.debug {
    border: 2px solid var(--color-square-grey);
}

.container-type-A {
    max-width: 60%;
    margin: 0 auto;
}

.container-type-B {
    max-width: 50%;
    margin: 0 auto;
}

.line-hr {
    border-top: 2px solid var(--color-square-grey);
}

.bg-botton-blue {
    background-color: var(--color-button-blue);
    color: var(--color-bg-white) !important;
}

.underlined-link {
    text-decoration: underline;
}

/*navbar*/

nav {
    width: 100%;
    padding: 20px 5px;
    background-color: var(--color-bg-white );
}

.nav-side {
    width: 50%;
}

.nav-a {
    color: var(--color-font-black);
    padding: 3px 30px;
}

div.nav-side>img {
    padding: 3px 15px 3px 15px;
}

.nav-button-layout {
    padding: 3px 15px 3px 0px;
}

div.nav-button-layout>a {
    padding: 8px 16px;
}

/*hero*/

.bg-hero {
    background-color: var(--color-bg-blue);
    width: 100%;
    height: 800px;
    margin-bottom: 200px;
}

div.container>h1 {
    padding-bottom: 50px;
}

.hero-text {
    width: 30%;
    padding: 0px 5px;
}

.hero-button {
    width: 60%;
    background-color: var(--color-button-blue);
    text-align: center;
    margin: 40px 0px;
    padding: 20px;
}

a.d-inline-block>i[class*=arrow] {
    font-size: 3rem;
    margin: 40px 0px;
    color: var(--color-font-black);
}

.hero-img {
    width: 70%;

}

div.hero-img>img {
    width: 100%;
}

/*main*/

/*plans*/

.section-layout {
    padding: 30px 0px;
}

div.section-layout>h2 {
    padding-bottom: 70px;
}

.radio-layout {
    padding-right: 60px;
}

/*plan-card*/

.plan-card-wrapper {
    width: calc(100% / 3 - 45px);
}

.plan-card-header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--color-square-grey);
}

.plan-card-body {
   padding: 40px; 
}

div.plan-card-body>div.line-hr {
    width: 50px;
    margin: 40px 0px 60px;
}

.card-infos-layout {
    padding-bottom: 50px;
}

div.card-infos-layout>h3 {
    font-weight: 600;
    padding-bottom: 20px;
}

div.card-infos-layout>span {
    padding-bottom: 10px;
}

.card-list-icons {
    text-indent: -0.5em;
    margin: 15px;
}

.card-button {
    width: 100%;
    background-color: var(--color-button-blue);
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

/*bottom-card*/

.bottom-card-layout {
    padding: 40px;
}

.bottom-card-infos {
   width: 70%;
}

div.bottom-card-infos>h3 {
    font-weight: 600;
    padding-bottom: 20px;
}

div.bottom-card-infos>span {
    padding-bottom: 40px;
}

.bottom-card-CTA {
    width: 30%;
    padding-left: 80px;
}

/*footer*/

footer {
    background-color: var(--color-font-black);
    color: var(--color-bg-white);
    padding: 120px 0px 50px;
}

.list-layout {
    padding: 0px 85px 150px 0px;
}

div.list-layout>h3 {
    padding-bottom: 35px;
}

div.list-layout>ul>li {
    padding-bottom: 25px;
}

div.language-selection>div.line-hr {
    padding: 30px;
}

.language-selection {
    width: 150px;
}